@page "/"

<style>
    body {
        background-color: slateblue;
    }
</style>

@*<button class="btn btn-primary" onclick="location.href='clientLogin'">Login to buy</button>*@
<button class="btn btn-light" onclick="location.href='/store/dashboard'">Go to your store</button>
<button class="btn btn-light" onclick="location.href='/addProduct'">Add Product</button>