@inherits LayoutComponentBase
<HomeNavMenu />

@Body

<footer class="page-footer font-small bg-light mb-0">
    <div class="footer-copyright text-center py-3">
        © 2022 Copyright:
        <a href="/"> Sukhdari.com</a>
    </div>
</footer>
