@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <a class="nav-link" href="#">Sign Up</a>
            <a class="nav-link" href="#">Sign In</a>
            <a class="nav-link" href="#">Create Store</a>
            <a class="nav-link" href="#">Go to Store</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
