@inherits LayoutComponentBase
<BasicNavMenu />
<img class="card-img-top" src="" onerror="this.src = '/Images/slide2.png';" alt="Store image cap" />
<div class="pl-5 pt-3 border-bottom m-4">
    <h2 class="h1">Store</h2>
    <a href="#" class="storeLink">Products</a>
    <a href="#" class="storeLink">About</a>
</div>

@Body

<footer class="page-footer font-small bg-light mb-0">
    <div class="footer-copyright text-center py-3">
        © 2022 Copyright:
        <a href="/"> Sukhdari.com</a>
    </div>
</footer>