@page "/addCategory"
@layout StoreAdminLayout

<h1>Add Category</h1>

<form class="form-horizontal">

    <div class="form-group">
        <label class="col-md-7 control-label" for="category_name">CATEGORY NAME</label>
        <div class="col-md-7">
            <input id="category_name" name="category_name" placeholder="Category Name" class="form-control input-md" required="" type="text">

        </div>
    </div>

    <div class="form-group">
        <div class="col-md-7">
            <button id="addBtn" name="addBtn" class="btn btn-dark">Add Category</button>
        </div>
    </div>
</form>

	@code {

	}
