@page "/createStore"
@layout StoreAdminLayout
@attribute [Authorize]

<h3>Create Store</h3>
<form class="form-horizontal">


    <div class="form-group">
        <label class="col-md-7 control-label" for="store_name">STORE NAME</label>
        <div class="col-md-7">
            <input id="store_name" name="store_name" placeholder="STORE NAME" class="form-control input-md" required="" type="text">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-7 control-label" for="store_type">STORE TYPE</label>
        <div class="col-md-7">
            <input id="store_type" name="store_type" placeholder="STORE TYPE" class="form-control input-md" required="" type="text">
        </div>
    </div>
    <div class="col-md-7">
        <a class="btn btn-dark">Please Create Store</a>
    </div>
</form>

    @code {

    }
