@page "/createStore"
@layout StoreAdminLayout

    <div class="card m-4">
        <h1>There is no store belonging to you. </h1>
        <button class="btn btn-dark">Create Store</button>
    </div>

@code {

}
