@page "/storeNotExist"
@layout StoreAdminLayout

@inject IStoreRepo Store
@inject NavigationManager Navigator
@attribute [Authorize]

<h2>Look like you don't have a store :(</h2>
<a class="btn btn-dark" href="/createStore">Create Store</a>

@code {

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;


        if (Store.GetStoreByAdminName(authState.User.Identity.Name) != null)
        {
            Navigator.NavigateTo("/store/dashboard");
        }
    }

}
