@page "/store/dashboard"
@layout StoreAdminLayoutT
@inject IStoreRepo Store
@inject NavigationManager Navigator
@attribute [Authorize]
<div class="card  card-info">

    <div class="card-header">
        <h3 class="card-title">Dashboard</h3>
    </div>
    <div class="card-body">
    </div>

</div>

<hr />
@code {
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }
    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;


        if (Store.GetStoreByAdminName(authState.User.Identity.Name) == null)
        {
            Navigator.NavigateTo("/storeNotExist");
        }
    }
}
