@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <AuthorizeView>
            <NotAuthorized>
                <div class="top-row px-4">
                    <a href="Identity/Account/Register">Register</a>
                </div>
                <div class="top-row px-4">
                    <a href="Identity/Account/Login">Login</a>
                </div>
            </NotAuthorized>
            <Authorized>
                <div class="top-row px-4">
                    <a href="Identity/Account/Logout">Logout</a>
                </div>
            </Authorized>
        </AuthorizeView>


        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
