@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <button class="btn btn-dark" href="" target="_blank">Log Out</button>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
