@page "/stores/about/{StoreId:int}"
@layout StoreLayout
@inject IStoreService Store

<div class="col-11 card m-5">
    <div class="col-12 m-2">
        <a href="@($"stores/store/{StoreId}")">
            <h1 class="text-dark oi oi-circle-x"></h1>
        </a>
    </div>

    <div class="">
        <h1>About Us</h1>
        <p>Here we will display the store description given by the store owner.</p>
        <h1>Location</h1>
        <p>and here we will show the store address</p>
    </div>
</div>

@code
{
    [Parameter]
    public int StoreId { get; set; }
}