@page "/store/login"

<div class="container col-10" style="height:80%; margin-top:8%;">
    <div class="row rounded rounded-circle d-flex flex-column-reverse flex-md-row p-1">
        <div class="col-12 col-md-6 p-5" style="background-color:gainsboro;">
            <h1>Log In</h1>
            <form>
                <div>
                    <label for="storeName" class="col-12 p-0">STORE NAME</label>
                    <input name="storeName" type="text" placeholder="Name" class="text-xl-left col-11 form-control" />
                </div>
                <br />
                <div>
                    <label for="email" class="col-12 p-0">EMAIL</label>
                    <input name="email" type="email" placeholder="name@domin.com" class="text-xl-left col-11 form-control" />
                </div>
                <br />
                <div>
                    <label for="password" class="col-12 p-0">PASSWORD</label>
                    <input name="password" type="password" class="text-xl-left col-11 form-control" />
                </div>
                <br />
                <button type="submit" class="btn btn-dark col-11">Go to Store</button>
            </form>
        </div>
        <div class="col-12 col-md-6 p-5" style="background-color:black; color:white;">
            <h1>Welcome to Your Store</h1>
            <span class="text-xl-center">Don’t have a Store?</span>
            <a href="store/register" class="txt2">Create a new store</a>
        </div>
    </div>
</div>


    @code {

    }
